@media screen and (max-width: 600px) {
   header {
    flex-direction: column;
    }

    ul {
        text-align: center;
        
    }

    a {
       display: inline; 
    }

   main {
    flex-direction: column;
    text-align: center;
   }

   h2 {
    font-size: 38px;
   }

   p {
    text-align: justify;
   }

   form {
    margin: 0 auto;
    width: 100%;
   }

   img {
    display: none;
   }

   input {
    align-self: center;
    width: 300px;
   }

   form [type="submit"] {
    width: 330px;
   }
}

@media screen and (min-width:601px) and (max-width: 1200px) {
    header {
        flex-direction: column;
    }

    ul {
        text-align: center;
    }

    main {
        flex-direction: column;
        text-align: center;
    }

    p {
        margin: auto;
    }
    
    img {
        display: none;
    }

    form {
        margin: 0 auto;
        width: 300px;
    }

    form [type="submit"] {
        width: 300px;
    }
    
    input {
        align-self: center;
        width: 500px;
    }
}
